@head: #263188;
@button: #203cc2;
@light: white;


html, body {
	padding: 0;
	margin: 0;
}

body {
	background-color: @head;
	color: @head;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
}

h1 {
	margin: 5px;
	font-weight: 800;
	text-decoration: underline;
}

/*========== NAV BAR ==========*/

nav {
	height: 20vh;
	text-align: center;
	margin: 0;
	padding: 0;
}

#top-div {
	width: 100%;
	height: 20vh;
	margin: 0;
	padding: 0;
	background-color: @head;
	color: @light;
	position: relative;
}

#titleContainer {
	background-color: @button;
	height: 16vh;
	width: 95%;
	margin: 2vh 2.5%;
	padding: 0;
	border-radius: 4px;
	position: absolute;
}

#title {
	margin: 1px;
	padding: 0;
	overflow: visible;
}

#subtitle {
	margin-top: 0;
	font-family: 'PT Serif', serif;
	font-size: 1rem;
	text-decoration: none;
	font-style: none;
}

/*========== QUIZ SECTION ==========*/

input {
	vertical-align: middle;
}

#center {
	text-align: center;
	height: 60vh;
	padding: 0;
	margin: 0;
	overflow: auto;
}

#center-opaque {
	position: absolute;
	top: 10vh;
	left: 2.5%;
	height: 80vh;
	width: 95%;
	background-image: url("http://i.imgur.com/NXSNrkc.png");
	background-size: cover;
	opacity: .6;
	z-index: -1;
}
#center-white {
	position: absolute;
	top: 10vh;
	left: 2.5%;
	height: 80vh;
	width: 95%;
	background: white;
	z-index: -2;
}

#quiz {
	position: relative;
	width: auto;
	height: 100%;
	margin: 0 10vw;
	border-radius: 12px;
	vertical-align: middle;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
	}
}

.question {
	font-size: 24px;
}

#idBox {
	width: 100%;
	text-align: center;
}

button {
	background-color: @button;
	color: @light;
	border: 0;
	border-radius: 10px;
	width: 85%;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	font-size: 18px;
	font-family: 'Lora', serif;
	text-align: center;
	box-shadow: 0 10px 5px -7px rgba(0,0,0,.8);
	transition: all ease-in-out 300ms;
	&:hover {
		transform: translate(0, -2px);
		box-shadow: 0 19px 11px -12px rgba(0,0,0,.6);
  	cursor: pointer;
	}
	&:focus {
		outline: none;
	}
}

/*========== SCOREBOARD SECTION ==========*/

#bottom {
	height: 20vh;
	background-color: @head;
	color: @light;
}

#footer {
	position: relative;
	height: 20vh;
	width: 100%;
	margin: 0;
	padding-bottom: 0;
	text-align: center;
	font-size: 24px;
	p {
		margin: 0 auto;
	}
	ul {
	list-style-type: none;
	width: 100%;
	padding: 0;
	}
	overflow: none;
}

#scoreContainer {
	position: absolute;
	background-color: @button;
	width: 95%;
	height: 16vh;
	margin: 2vh 2.5%;
}

#score {
	text-align: center;
	display: block;
	padding-bottom: 5px;
}

#scoreboard {
	width: 100%;
	margin-top: 1.5em;
	text-align: center;
	list-style-type: none;
}

.genos {
	float: left;
}

.icon {
	max-height: 40px;
}

/*========== RESPONSIVE ==========*/

@media screen and (min-width: 716px) and (max-width: 1024px) {
	/*nav {
		height: 175px;
	}
	.masthead {
		font-size: 45px;
	}
	.celly {
		height: 2.5em;
		width: auto;
	}*/
}

@media screen and (min-width: 440px) and (max-width: 715px) {
	/*nav {
		height: 105px;
	}
	.celly {
		height: 2.75em;
		width: auto;
	}
	.masthead {
		font-size: 25px;
	}
	#quiz {
		font-size: 24px;
	}
	.choices button, #scoreboard {
		font-size: 20px;
	}
	#footer {
		font-size: 20px;
	}*/
}

@media screen and (min-width: 351px) {
	#title {
			font-size: 3rem;
	}
	#subtitle {
		margin-top: 1vh;
		font-size: 1.5rem;
	}
	#scoreContainer p, .icon {
		margin-top: 1vh;
	}
}
