body {
	background-image: url("http://i.imgur.com/usetx3r.png");
}

nav {
	display: inline-block;
}

.lamp {
	max-height: 80px;
}

#quiz {
}

#scoreboard {
	list-style-type: none;
}

.genos {
	display: inline-block;
	text-align: middle;
}

.icon {
	max-height: 50px;
}
