body {
	background-image: url("http://i.imgur.com/usetx3r.png");
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: darkred;
	font-family: 'Graduate', cursive;
	font-weight: bolder;
	font-size: 30px;
}

h1 {
	margin: 5px;
}

/*========== NAV BAR ==========*/

nav {
	height: 225px;
	text-align: center;
}

#top-div {
	float: right;
	padding: 0;
	position: relative;
	left: -50%;
	margin: 0 auto 0 auto;
}

#top-div ul {
	list-style-type: none;
	width: 100%;
	margin-left: 0;
	padding: 0;
	position: relative;
	left: 50%;
	width: 100%;
}

#top-list {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.masthead {
	text-align: center;
	float: left;
	width: auto;
	margin: 1px;
	font-size: 60px;
	overflow: none;
	text-decoration: underline;
	border: 1px;
	border-color: red;
	padding: 0;
}

#title-box {
	margin: 1px;
	padding: 0;
	overflow: visible;
}

#title {
	margin: -0.5em 0.5em 0 0.5em;
	padding: 0;
	width: auto;
}

#subtitle {
	margin-top: 0;
	font-family: 'Lora', serif;
}

.celly {
	height: 3em;
	width: auto;
	margin: 1px;
	padding: 0;
	display: inline-block;
}

/*========== QUIZ SECTION ==========*/

input {
	vertical-align: middle;
}

#center {
	text-align: center;
}

#quiz {
	width: 80%;
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
}

.question {
	width: 100%;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}

.choices button {
	background-color: darkred;
	color: white;
	border: 0;
	border-radius: 10px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	font-size: 24px;
	font-family: 'Lora', serif;
	text-align: center;
}

#idBox {
	width: 100%;
	text-align: center;
}

.next {
	margin-top: 4em;
	margin-left: 25%;
	margin-right: 25%;
	background-color: darkred;
	color: white;
	border: 0;
	border-radius: 10px;
}

button:hover {;
  box-shadow: 2px 2px 2px #000;
  cursor: pointer;
  text-shadow: 2px 2px 2px #000;
}

button:focus {
	outline: none;
}

/*========== SCOREBOARD SECTION ==========*/

#footer {
	padding: 0;
	/*position: relative;
	left: -50%;*/
	/*margin: 1em auto 1em auto;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#footer ul {
	list-style-type: none;
	width: 100%;
	/*margin: 0 auto 0 auto;*/
	padding: 0;
	/*position: relative;
	left: 50%;*/
}

#score {
	text-align: center;
	display: block;
	margin-top: 1em;
	/*margin-right: 1em;*/
	padding-bottom: 5px;
}

#scoreboard {
	width: 100%;
	margin-top: 1.5em;
	text-align: center;
	list-style-type: none;
}

.genos {
	float: left;
}

.icon {
	max-height: 50px;
}

#sig {
	width: 35px;
	margin-top: 4em;
}

/*========== RESPONSIVE ==========*/

@media screen and (min-width: 701px) and (max-width: 999px) {
	nav {
		height: 175px;
	}
	.masthead {
		font-size: 45px;
	}
	.celly {
		height: 2.5em;
		width: auto;
	}
}

@media screen and (min-width: 401px) and (max-width: 700px) {
	nav {
		height: 105px;
	}
	.celly {
		height: 2.75em;
		width: auto;
	}
	.masthead {
		font-size: 25px;
	}
	#quiz {
		font-size: 24px;
	}
	.choices button, #scoreboard {
		font-size: 20px;
		margin-left: 20%;
	}
	#footer {
		font-size: 20px;
	}
}

@media screen and (min-width: 1px) and (max-width: 400px) {
	nav {
		height: 105px;
	}
	.masthead {
		font-size: 25px;
	}
	#quiz {
		font-size: 24px;
	}
	.choices button, #scoreboard {
		font-size: 20px;
		margin-left: 20%;
	}
	.celly {
		height: 2em;
		width: auto;
	}
	#footer {
		font-size: 20px;
	}
	.icon {
		max-height: 35px;
	}
}